@model ProjektRestauracja.Models.Order

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant Order System</title>
    <link href="~/css/stylesOrders.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <div>
            <h4>Order</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.Id)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Dish)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Dish.Name)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>
                <dd class="col-sm-10">
                    @Model.TotalPrice.ToString("C2")
                </dd>
            </dl>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn">Edit</a> |
            <a asp-action="Index" class="btn">Back to List</a>
        </div>
    </div>
</body>
</html>
